/*首页样式*/
* {
	padding: 0;
	margin: 0;
}
html body {
	background-color: #f3f3f3;
}

/*导航样式*/
.top {
	width:100%;
	height:129px; 
	background:url(../images/top.jpg) center center no-repeat #f17c08; 
	text-align:center;
}
nav { 
	width: 100%;
	height:90px;
	float: left;
	background:url(../images/nav_bg.jpg) repeat-x; 
}
.navbar {
	width: 990px;
	margin: 0 auto;
}
.navbar ul {
	list-style-type: none;
}
.navbar li {
	width: 90px;
	line-height: 45px;
	font-size: 16px;
	float: left;
	text-align: center;
	margin-right: 5px;
}
.navbar li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #eee;
}
.dateinfo {
	width: 990px;
	margin: -10px auto;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
}
.dateinfo img {
	width: 16px;
	margin-right: 5px;
}
/*主体样式*/
.main {
	width: 990px;
	margin: 0 auto;
}

.first-row {
	width: 990px;
	height: 310px;
	margin: 0 auto;
}
.first-left {
	width: 748px;
	background-color: #fff;
	border:1px solid #ccc;
	padding: 10px;
	float: left;
}
.tupianlunbo {
	margin-right: 10px;
	float: left;
}
.tupianlunbo img {
	width: 290px;
	height: 290px;
}
.toutiao {
	width: 420px;
	float: right;
	margin-top: -10px;
}
.toutiao-title {
	font-size: 12px;
	color: #888;
	border-bottom: 1px dotted #aaa;
}
.toutiao-title h4 {
	display: inline-block;
}
.toutiao-title h4 a:link {
	text-decoration: none;
	color: #1f86cd;
	font-weight: bolder;
}
.toutiao-news {
	width: 420px;
	margin-top: 10px;
}
.toutiao-news ul li {
	list-style-type: none;
	height:25px; 
	line-height:25px;
}
.toutiao-news a {
	float: left;
	color: #000;
}
.toutiao-news a:hover {
	text-decoration: none;
	color: #f16913;
}
.toutiao-news span {
	display: inline-block;
	float: right;
}
.userlogin {
	width: 230px;
	height: 316px;
	float: right;
	background-color: #fff6ea;
	border:1px solid #ffd8b3;
}
.login-title {
	height: 35px;
	line-height: 30px;
	font-size: 16px;
	padding: 5px;
	font-weight: bold;
	background-color: orange;
	color: #fff;
}
.login-title a {
	display: inline-block;
	float: right;
	font-size: 14px;
	font-weight: normal;
}
.xuexistep {
	margin-top: 5px;
}
.xuexistep img {
	width: 990px;
}

/*底部样式*/
footer {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.foot-nav {
	width: 100%;
	float: left;
	background-color: #ef7300;
}
.foot-nav ul {
	width: 990px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
}
.foot-nav ul li {
	display: inline-block;
	color: #eee;
}
.foot-nav a {
	color: #eee;
	font-size: 14px;
}
.copyright {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	float: left;
	color: #555;
	font-size: 12px;
}